{
    "insecure-registries": ["http://192.168.14.150:8888"],
    "registry-mirrors": [
        "https://docker.m.daocloud.io",
        "https://dockerproxy.com",
        "https://docker.mirrors.ustc.edu.cn",
        "https://docker.nju.edu.cn"
    ],
    "exec-opts": ["native.cgroupdriver=systemd"],
    "log-driver": "json-file",
    "data-root": "{{ docker_home_dir }}",
    "log-opts": {
        "max-size": "100m"
    },
    "storage-driver": "overlay2"
} 